form{
	border: 2px solid #ccc;
	width: 400px;
	height: 200px;
	padding:20px ;
}
a{
	color: #000000!important;
}
a:hover{
	text-decoration: none;
}
table{
	border: 1px solid #ccc;
	width: 400px;
	height: 300px;
}
.cc{
	font-size: 6px;
}
